@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url("./images/background.jpg");
 background-position: top;
 background-attachment: fixed;
 background-repeat:no-repeat;
}
.nav{
    background-color: #3B3A57;
}

.allcont{
    padding: 2rem 0;
}

.content{
    width: 60%;
    padding: 6rem 2rem;
}
.content span{
    margin-top: 2rem;
    font-weight: 700;
    padding: 2rem;
}
.content p{
    padding: 2rem;
    line-height: 1.6rem;
}
.content .btn{
    margin: 0 2rem;
    font-weight: 500;
}

.calc{
    width: 29%;
    background-color: rgb(4, 23, 44);
    border-radius: 1rem;
    padding: 3rem 2rem;
   
}
.calc .display{
    background-color: #D9D9D9;
    width: 100%;
    border-radius: .5rem;
    height: 7rem;
    padding: .5rem;
}
.calc .btns{
    /*background-color: rgb(24, 71, 112);*/
    width: 100%;
    border-radius: .5rem;
    height: 20rem;
    margin-top: 1rem;
    padding: 0rem 2rem;
    position: inherit;
    
}
.calc .btns .upperbtn{
    display: grid;
    grid-template-columns: repeat(4, 4rem);
   

}
.calc .btns .upbtn{
    width: 2.5rem;
    height: 2.5rem;
    margin: .3rem;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: .3rem;
    padding: .4rem;
    font-weight: 700;
    cursor: pointer;
}

.calc .btns .lowerbtn{
    display: grid;
    grid-template-columns: repeat(4, 4rem);
}
.ownner{
    width: 4rem;
    height: 2.5rem;
    margin: .3rem;
    background-color: #D9D9D9;
    text-align: center;
    border-radius: .3rem;
    padding: .4rem;
    font-weight: 700;
    cursor: pointer;
}
.btneq{
    width: 10rem;
    height: 2.5rem;
    margin: .3rem;
    background-color: rgb(62, 161, 62);
    text-align: center;
    color: white;
    border-radius: .3rem;
    padding: .4rem;
    margin-left:1rem;
    font-weight: 700;
    cursor: pointer;
}
.calc .btns .lowbtn{
    width: 2.5rem;
    height: 2.5rem;
    margin: .3rem;
    color: white;
    text-align: center;
    border-radius: .3rem;
    padding: .5rem;
    font-weight: 700;
    cursor: pointer;
}
.calc .btns .lowbtn:hover{
    background-color:lightgray;
    color:black;
}

.calc .display input{
    border: none;
    height: 3rem;
    width: 100%;
    outline: none;
    text-align:right;
    padding: 1rem 2rem;
}

#input{
   
    text-align:right;
    font-weight:700;
    font-size: 1.6rem;
    font-family: monospace;
}
.answer{
    text-align:right;
    font-weight:700;
    font-size: 1.6rem;
    padding: 0rem 2rem;
    font-family: monospace;
    transform: right bottom;
    transition: transform 0.2s ease;
    
}
.footer{
    font-weight: 400;
    border-top: .1rem solid #3B3A57;

}
.footer .owner{
    color: rgb(62, 161, 62);
    font-weight: 400;
}

.cont{
    background-image: url("./images/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10rem;
    background-attachment: fixed;

}
.form{
    width: 250px;
}
.para{
    line-height: 2rem;
    font-weight: 300;
    font-size: 1.2rem;
}
.homepara{
    line-height: 2.2rem;
    font-weight: 300;
    font-size: 1.2rem;
}
.about{
    background-image: url("./images/about.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10rem;
    background-attachment: fixed;
    
}


@media (max-width:450px)  {
    .allcont{
        display: block;
        width: 100%;
        padding: 0rem;
    }
    .allcont .content{
        width: 100%;
        padding: 2rem 1rem;
    }
    .allcont .content .head{
        font-size: 1.3rem;
    }
    .allcont .content p{
        font-size: .9rem;
    }
    .allcont .calc{
        width: 90%;
        justify-content: center;
        margin-left: 1rem;
    }
    .calc .btns .lowerbtn{
        display: grid;
        grid-template-columns: repeat(4, 4rem);
    }
    .calc .btns .upperbtn{
        display: grid;
        grid-template-columns: repeat(4, 4rem);
    }
    .calc .btns{
        padding: 0rem 1.5rem; 
    }
    .btneq{
        width: 10rem;
        margin-left:.91rem;
        font-weight: 700;
        cursor: pointer;
    }
    .links{
        background-color: #3B3A57;
    }
    .footer{
        font-weight: 100;
        letter-spacing: .1rem;
    }

    .contact {
        display: block;
        width: 100%;
            }
    .cont{
        margin: 0;
        padding: 0;
    }
    .cont .head2{
        margin: 0;
        padding: 2rem 0;
    }
    .cont .form{
        padding: 2rem 0;
    }
    .about{
        padding:0 4rem;
        text-align: center;
    }
}